.example-spacer {
  flex: 1 1 auto;
}

button {
  margin: 5px;
}

.right-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px; /* space between icons */

  mat-icon {
    cursor: pointer;
  }

  .key {
    color: #FFF;
  }
}
