.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* nice spacing between fields */
  padding: 10px;
}

.form-title {
  margin: 15px;
  text-align: center;
}

button mat-spinner {
  display: inline-block;
  vertical-align: -2px;
  margin-right: 8px;
  transform: translateY(2px);
}