# .env.example - template for environment variables
# Copy this file to `.env` and update values as needed


# Port your API will run on
PORT=3000


# Base URL for the uploader service (used by UploaderService)
UPLOADER_BASE_URL=http://localhost:4000

DATA_DIR=C:\Users\marty\tech\media-system-2026-2\data
UPLOAD_DIR=C:\Users\marty\tech\media-system-2026-2\data\uploader
MEDIA_DIR=C:\Users\marty\tech\media-system-2026-2\data\media